.ForecastDay {
    padding: 10px;
    border: 2px solid #d3d3e37a;
    border-radius: 15px;
    width: 120px;
    height: 170px;
    background-color: #ffffff2b;
    margin: 5px;
    text-align: center;
}

