.ForecastDay {
    padding: 10px;
    border: 2px solid #d3d3e37a;
    border-radius: 15px;
    width: 120px;
    height: 180px;
    background-color: #ffffff2b;
    margin: 10px 5px;
    text-align: center;
    overflow-wrap: break-word;

}

