.CurrentWeather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 150px;
    margin-top: 20px;
    border: 4px solid rgba(255 255 255 / 13%);
    border-radius: 15px;
    background: #f0f0f017;
    box-shadow: 1px 1px 8px 5px rgb(97 144 179 / 20%);
    background-image: url("../../../assets/weatherBackground/clouds.png");
    background-size: 650px;
}


@media (max-width: 992px)  {
    .CurrentWeather {
        padding: 0 15px;
    }
}

@media (max-width: 480px)  {
    .CurrentWeather {
        font-size: 13px;
        padding: 0 10px;
    }
}


