.ForecastDay {
    padding: 10px;
    border: 2px solid #d3d3e37a;
    border-radius: 15px;
    flex: 0 1 13%;
    // height: 200px;
    background-color: #ffffff2b;
    margin: 10px 5px;
    text-align: center;
    overflow-wrap: break-word;

}


.conditionText {
    font-size: 15;
    padding-bottom: 5px;
}
