.ContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    border: 4px solid rgba(255 255 255 / 13%);
    border-radius: 5%;
    background: #f0f0f02e;
    -webkit-box-shadow: 1px 1px 8px 5px rgba(97, 144, 179, 0.2);
    -moz-box-shadow: 1px 1px 8px 5px rgba(97, 144, 179, 0.2);
    box-shadow: 1px 1px 8px 5px rgba(97, 144, 179, 0.2);
    color: #325b79
}

.content {
    width: 100%;
    height: 100%;
}