.searchBar {
    width: 100%;
    padding: 20px 0;
    height: 70px;
    opacity: 0.9;
}


.searchBar * {
    font-family: Nunito, "Times New Roman", serif !important;
}

@media (width <= 992px)  {
    .searchBar {
        padding: 10px 0;
    }
}