.app_dark_theme {
    --bg-color: linear-gradient(90deg,rgb(55 65 105) 0%, rgb(31 33 99) 50%, rgb(18 39 79) 100%);
    --inverted-bg-color: linear-gradient(90deg, rgb(203 226 222 / 100%) 0%, rgb(154 166 222 / 100%) 41%, rgb(118 213 205 / 100%) 97%, rgb(113 196 185 / 100%) 100%);
    --primary-color: #ffffffa6;
    --secondary-color: #828ba7;
    --inverted-primary-color: #5671ad;
    --inverted-secondary-color: #041c65;
    --border-color:rgb(58 71 137 / 13%);
    --background-color:  rgb(63 68 77 / 18%);
    --box-shadow-color: rgb(0 0 0 / 20%);
}
