.Forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    font-size: calc(15px + 1 * (100vw / 1100));
}


.forecastLogo {
    flex: 0 1 100%;
    text-align: center;
    padding: 20px;
    font-weight: 600;
    font-size: calc(14px + 4 * (100vw / 1100));
}

@media (width <= 930px)  {
    .Forecast {
        flex-direction: column;
        padding-top: 5px;
    }

    .forecastLogo {
        padding: 10px;
    }
}


@media (width <= 480px)  {
    .Forecast {
        font-size: 13px
    }
}